{% extends "base.html" %}

{% block title %}
TESLA Profile
{% endblock %}

{% block content %}

<style>

.profile-page{
    padding-bottom:100px;
}


.profile-header{
    text-align:center;
    padding:25px;
    font-size:30px;
    font-weight:900;
    color:#e82127;
}


.profile-card{
    margin:20px;
    padding:30px 20px;
    background:linear-gradient(145deg,#111,#1b1b1b);
    border-radius:25px;
    text-align:center;
    border:1px solid #333;
}


.avatar{
    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    background:#e82127;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
}


.profile-card h2{
    margin-top:15px;
}


.profile-card p{
    color:#aaa;
}


.info-box{

    margin:20px;
    background:#111;
    padding:20px;
    border-radius:20px;
    border:1px solid #333;

}


.info-title{
    color:#e82127;
    font-size:20px;
    font-weight:bold;
    margin-bottom:15px;
}


.info-row{

    display:flex;
    justify-content:space-between;
    padding:15px 0;
    border-bottom:1px solid #222;

}


.info-row:last-child{
    border:none;
}


.value{
    color:#e82127;
    font-weight:bold;
}


.action-btn{

    display:block;
    margin:15px 20px;
    padding:16px;
    background:linear-gradient(135deg,#e82127,#800000);
    color:white;
    text-align:center;
    text-decoration:none;
    border-radius:15px;
    font-weight:bold;

}

</style>


<div class="profile-page">


<div class="profile-header">
TESLA PROFILE
</div>


<div class="profile-card">


<div class="avatar">
USER
</div>


<h2>
{{ user.phone }}
</h2>


<p>
TESLA VIP MEMBER
</p>


</div>



<div class="info-box">


<div class="info-title">
Account Information
</div>


<div class="info-row">
Phone
<span class="value">
{{ user.phone }}
</span>
</div>


<div class="info-row">
Balance
<span class="value">
GHS {{ user.balance }}
</span>
</div>


<div class="info-row">
Plan
<span class="value">
{{ user.plan or "No Plan" }}
</span>
</div>


<div class="info-row">
Joined
<span class="value">
{{ user.created_at }}
</span>
</div>


<div class="info-row">
Withdrawal Account
<span class="value">
{{ user.account_number or "Not Added" }}
</span>
</div>


</div>


<a href="/change_password" class="action-btn">
Change Password
</a>


<a href="/logout" class="action-btn">
Logout
</a>


</div>

{% endblock %}
