{% extends "base.html" %}

{% block title %}
Register
{% endblock %}


{% block content %}


<style>

.register-page{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;

}



.register-box{

    width:100%;
    max-width:380px;
    background:#111;
    padding:30px;
    border-radius:25px;
    border:1px solid #333;
    box-shadow:0 0 30px rgba(232,33,39,0.25);

}



.logo{

    text-align:center;
    color:#e82127;
    font-size:36px;
    font-weight:900;
    letter-spacing:3px;
    margin-bottom:10px;

}



.subtitle{

    text-align:center;
    color:#aaa;
    margin-bottom:25px;

}




.bonus-card{

    background:#1a1a1a;
    border:1px solid #e82127;
    border-radius:15px;
    padding:18px;
    text-align:center;
    margin-bottom:20px;

}



.bonus-card i{

    color:#e82127;
    font-size:25px;

}



.bonus-card strong{

    display:block;
    color:#e82127;
    font-size:26px;
    margin-top:8px;

}



.input-box{

    position:relative;
    margin-bottom:15px;

}



.input-box i{

    position:absolute;
    left:15px;
    top:15px;
    color:#e82127;

}



input{

    width:100%;
    padding:14px 14px 14px 45px;
    border-radius:12px;
    border:1px solid #333;
    background:#222;
    color:white;
    outline:none;

}



input:focus{

    border-color:#e82127;

}



button{

    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#e82127,#8b0000);
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;

}



button:hover{

    opacity:.9;

}




.login{

    text-align:center;
    color:#aaa;
    margin-top:20px;

}



.login a{

    color:#e82127;
    text-decoration:none;
    font-weight:bold;

}



</style>



<div class="register-page">


<div class="register-box">


<div class="logo">
TESLA
</div>


<div class="subtitle">
Create your VIP account
</div>




<div class="bonus-card">

<i class="fa-solid fa-gift"></i>

<strong>GHS 10</strong>

Registration Bonus

</div>




<form method="POST">



<div class="input-box">

<i class="fa-solid fa-phone"></i>

<input 
type="text"
name="phone"
placeholder="Phone Number"
required>

</div>




<div class="input-box">

<i class="fa-solid fa-lock"></i>

<input 
type="password"
name="password"
placeholder="Password"
required>

</div>




<div class="input-box">

<i class="fa-solid fa-lock"></i>

<input 
type="password"
name="confirm_password"
placeholder="Confirm Password"
required>

</div>




<div class="input-box">

<i class="fa-solid fa-key"></i>

<input 
type="password"
name="withdraw_password"
placeholder="Withdrawal Password"
required>

</div>




<div class="input-box">

<i class="fa-solid fa-key"></i>

<input 
type="password"
name="confirm_withdraw_password"
placeholder="Confirm Withdrawal Password"
required>

</div>




<div class="input-box">

<i class="fa-solid fa-user-plus"></i>

<input
type="text"
name="invite_code"
placeholder="Invite Code (Optional)"
value="{{ invite_code }}"
readonly>

</div>




<button type="submit">

Create Account

</button>



</form>





<div class="login">

Already have an account?

<a href="/login">

Login

</a>


</div>



</div>


</div>



{% endblock %}
