{% extends "base.html" %}

{% block title %}
Service
{% endblock %}

{% block content %}

<style>

.service-page{
    background:#000;
    min-height:100vh;
    color:white;
    padding-bottom:100px;
}


/* Header */

.header{

    text-align:center;
    padding:25px;
    font-size:30px;
    font-weight:bold;
    color:#e82127;

}



/* Flash */

.flash{

    margin:15px 20px;
    padding:15px;
    background:#111;
    border:1px solid #e82127;
    border-radius:12px;
    text-align:center;

}



/* Service Cards */

.service-card{

    margin:20px;
    background:#111;
    padding:22px;
    border-radius:18px;
    border:1px solid #333;

}



.service-card h3{

    color:#e82127;
    margin-bottom:12px;

}



.service-card p{

    color:#ccc;
    line-height:1.6;

}



/* Buttons */

.button{

    display:block;
    margin-top:18px;
    padding:15px;
    background:linear-gradient(135deg,#e82127,#800000);
    color:white;
    text-align:center;
    text-decoration:none;
    border-radius:12px;
    font-weight:bold;

}



.button:hover{

    opacity:.8;

}



/* Bottom Navigation */

.bottom-nav{

    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:75px;
    background:#111;
    border-top:1px solid #333;
    display:flex;
    justify-content:space-around;
    align-items:center;

}



.nav{

    color:#aaa;
    text-decoration:none;
    text-align:center;
    font-size:12px;

}



.nav i{

    display:block;
    font-size:22px;
    margin-bottom:5px;

}



.nav:hover{

    color:#e82127;

}


</style>



<div class="service-page">



<div class="header">
TESLA SERVICE
</div>




{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="flash">
{{message}}
</div>

{% endfor %}
{% endif %}
{% endwith %}






<div class="service-card">


<h3>
Customer Support
</h3>


<p>
Need help with your account, deposit, or withdrawal?
Contact our support team.
</p>



<a href="https://t.me/+6s2ad60Ce-o1Mjc0"
target="_blank"
class="button">

Contact Support

</a>


</div>







<div class="service-card">


<h3>
Deposit Help
</h3>


<p>
Learn how to complete deposits and check your payment status.
</p>



<a href="/deposit" class="button">

Open Deposit

</a>


</div>







<div class="service-card">


<h3>
Withdrawal Help
</h3>


<p>
Get assistance with withdrawal requests and account information.
</p>



<a href="/withdraw" class="button">

Open Withdrawal

</a>


</div>







<div class="service-card">


<h3>
Announcements
</h3>


<p>
Latest TESLA platform updates and important notices will appear here.
</p>


</div>







<div class="bottom-nav">


<a href="/dashboard" class="nav">
<i>⌂</i>
Home
</a>



<a href="/team" class="nav">
<i>♟</i>
Team
</a>



<a href="/my_plan" class="nav">
<i>▣</i>
Plans
</a>



<a href="/service" class="nav">
<i>⚙</i>
Service
</a>



<a href="/profile" class="nav">
<i>●</i>
Profile
</a>



</div>



</div>


{% endblock %}
